

.st-top-menu_wrapper {
    position: fixed;
    top: 15px;
    justify-content: center;
    width: 40vw;
    left: 30vw;
}

.st-top-menu_item {
   
    display: inline;
    margin: 1vh 2px;
    padding: 2px 15px 2px 15px;
    
    -webkit-box-shadow: none ; 
    box-shadow:         none ;
    /* transition: 0.5s ease-out; */
    transition: box-shadow 0.2s linear;
}
.st-top-menu_item { 
    color: white ;
}
.st-top-menu_item.active { 
    color: var(--bl-yellow);
}
.st-top-menu_item.active {
    -webkit-box-shadow: 2px 1px 0px 1px var(--bl-yellow); 
    box-shadow:         2px 1px 0px 1px var(--bl-yellow);
}
.st-top-menu_item:hover  {

    color: var(--bl-yellow);
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 0px 1px var(--bl-yellow); 
    box-shadow:         2px 1px 0px 1px var(--bl-yellow);
}
.st-top-menu_item-link:hover {
    cursor: pointer;
    color: var(--bl-yellow);
    /* text-decoration: underline; */
}

